# .github/workflows/docker-build-template.yml
name: Docker Build Template

on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ inputs.app_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker-build:
    permissions: write-all
    runs-on: ubuntu-22.04-32core-karl
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        uses: docker/login-action@v3.0.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare build
        id: prepare
        run: |
          echo "SANITIZED_REF=$(echo "${GITHUB_REF##*/}" | tr '/' '-')" >> $GITHUB_ENV

      - id: commit
        uses: prompt/actions-commit-hash@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          file: docker/Dockerfile
          build-args: |
            APP_NAME=${{ inputs.app_name }}
          tags: |
            ghcr.io/renlabs-dev/${{ inputs.app_name }}:${{ steps.commit.outputs.short }}
            ghcr.io/renlabs-dev/${{ inputs.app_name }}:${{ env.SANITIZED_REF }}
